<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
table, th, td {
  border: 1px solid black;
}

</style>
</head>
<body>
___________________________________________________________________
<h3>Car details</h3>

<img src="garage.jpg" alt="Norther Lights" style="width:20%">
  
<TABLE>
	<tr>
 <th>Brand</th>  <th>{{car.brand}}</th>
</tr>

<tr>
  <th>Price</th> <th>{{car.price}}$</th>

</tr>

<tr>
	<th>PlateNumber</th> <th>{{car.plateNumber}}</th>
</tr>
</TABLE>

</body>
</html>
